/* IDEA: This is the css stylesheet for project 1 */
html {
  font-family: 'Signika', sans-serif;
  line-height: normal;
  font-size: 16px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: white;
}

body {
  background-color: #f2f2f2;
}

#navigation {
  border-bottom: 2px solid #eaeaea;
  height: 78px;
  margin: 0px auto;
  padding: 5px;
  display: flex;
}

#navigation ul {
  max-height: 50px;
  max-width: 40%;
  overflow: hidden;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#navigation ul li {
  list-style-type: none;
  white-space: nowrap;
  flex: 0 1 auto;
  margin: 0;
}

#navigation ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  margin-left: 1.35rem;
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.125rem;
}

#navigation ul li a:hover {
  text-decoration: none;
  color: #00b300;
  cursor: pointer;
}

#navigation ul li a.active{
  color: #00b300;
  border-bottom: 2px solid #00b300;
}

.flytrapLogo {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.flytrapLogo a {
  display: inline-block;
  font-size: 2.20rem;
  text-decoration: none;
  color: #00b300;
}

.signup {
  left: 90%;
  position: absolute;
}

.signup #popeyesButton {
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  background-color: #009900;
  outline: 0px;
  border: 0px;
  border-radius: 9999rem;
  width: auto;
  cursor: pointer;
  margin: 0px;
  padding: 0.375rem 1.5rem;
  transition: all 0.125s ease 0s;
  display: block;
  align-items: center;
}

.signup #popeyesButton:hover {
  cursor: pointer;
  background-color: #004d00;
}

.globe {
  margin-left: auto;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 120px;
  background-color: white;
  border: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.globe a {
  display: block;
  cursor: pointer;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  opacity: 65%;
  margin-right: 1rem;
}

.bigPicture {
  margin-top: 35px;
  border: 0;
  padding: 0;
  text-align: center;
  position: relative;
  color: white;
}

.bigPicture img {
  padding: 0;
  border: 0;
  width: 100%;
}

.bigPictureText {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 80px;
  font-weight: bold
}

.bigPictureText p {
  margin: 0;
  margin-top: 10rem;
}

.mainContent {
  box-sizing: inherit;
  padding: 10px;
}

.firstTwo {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  margin-bottom: 1rem;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: calc(100% - 6rem);
}

.leftContainer {
  display: flex;
  flex: 1 1 0%;
  padding-right: 0.5rem;
}

.rightContainer {
  display: flex;
  flex: 1 1 0%;
  padding-left: 0.5rem;
}

.trending {
  font-size: 3rem;
  line-height: 1.75;
  text-align: center;
  text-transform: none;
}

.exploreContainer {
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1270px;
  margin: 0px auto;
  padding: 0px 0.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 250px
}

.exploreWrapper {
  cursor: pointer;
  max-width: 400px;
  width: 100%;
  margin: 0.5rem auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 6px 0px;
}

.exploreWrapper a {
  text-decoration: none;
  color: black;
}

.pictureBoundary {
  border-radius: 4px 4px 0px 0px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.exploreInfo {
  margin: 1.125rem;
  max-height: 100px;
}

.exploreName {
  font-size: 1.5rem;
  color: black;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: bold;
}

footer {
  display: block;
  background-color: #212121;
  ;
  color: white;
  width: 100%;
  padding: 1rem 6rem;
  text-decoration: none;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  border-right: solid 1px white;
  padding: 0px 0.8rem;
}

footer ul a:hover {
  color: #00b300;
  cursor: pointer;
}

footer p {
  font-size: 1.2rem;
  padding: 10px 1.5rem;
  border-top: 1px solid rgba(135, 110, 110, 0.1);
}

footer p a {
  text-decoration: none;
  color: white;
}

footer p a:hover {
  color: #00b300;
  cursor: pointer;
}

.bottomLogos {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem 0px;
  justify-content: center;
  margin: 0;
}

.leaf {
  display: flex;
  justify-content: center;
  color: white;
  margin-right: 125px;
  padding-left: 15rem;
}

.leaf a {
  font-size: 8rem;
  text-decoration: none;
  color: white;
}

.socials {
  display: flex;
}

.socials a {
  justify-content: flex-end;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}

.socials a:hover{
  color: #00b300;
}



/* Inner page styling starts here  */

.borderBox{
  background-color: #00b300;
  width: 100%;
  color: black;
  padding: 1px;
  margin: 0;
  display: block;
  margin-top: 120px;
}

.borderBox p{
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
  color: white;
}

.upperText{
  display: flex;
  justify-content: center;
  color: #616161;
}

.upperText h2{
  font-size: 40px;
}

.video{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.innerRow{
  width: 90%;
  max-width: 920px;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 50% 40%;
  gap: 0px 10%;
}

.innerText{
  display: flex;
  flex-direction: column;
  color: #616161;
}

.innerText h2{
  margin: 0;
  color: #616161;
  align-self: center;
}

.innerText p a{
  text-decoration: none;
  color: lightgrey;
}

.innerText p a:hover{
  text-decoration: none;
  color: #00b300;
}

.innerPicture{
  align-self: center;
}

.thanks{
  padding: 2rem;
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.thanks p a{
  text-decoration: none;
  color: #00b300;
}

.thanks p a:hover{
  text-decoration: underline;
}
